header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #001F3F;
    color: white;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #FFD700;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #001F3F;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
