header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #001F3F;
    color: white;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
